<%- include('./layout/header', {dataTable:false}) %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <!--                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>-->
                    <!--                    <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>-->
                    <!--                    <li class="breadcrumb-item active">Banner Add</li>-->
                </ol>
            </div>
            <h4 class="page-title"> Employee </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-content">

                    <div class="tab-pane show active" id="input-types-preview">


                        <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label">Name</label>
                                        <input type="text" id="name" name="name" class="form-control" required>
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="simpleinput" class="form-label">Phone</label>
                                        <input type="number" id="name" name="phone" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label">Email</label>
                                        <input type="email" id="email" name="email" class="form-control" required>
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="simpleinput" class="form-label">Role</label>
                                        <select class="form-select" id="example-select" name="role">
                                            <option value="null" selected="" disabled="">Select--</option>
                                            <% role_management.forEach((row) => { %>
                                            <option value="<%= row._id %>"><%= row.role_name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label">Password</label>
                                        <input type="text" id="password" name="password" class="form-control" required>
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="simpleinput" class="form-label">Employee Image</label>
                                        <input type="file" id="example-fileinput" class="form-control" name="img"></div>
                                </div>
                            </div>

                            <div class="mb-6">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>

                        </form>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./layout/footer', {dataTable:false}) %>