<%-include("./layout/header")%>

<link href="/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
<link href="/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">


<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div>
            <h4 class="page-title">Products</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a href="javascript:void(0);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Add Products</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                            <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                            <button type="button" class="btn btn-light mb-2">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <div id="products-datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="products-datatable_length"><label class="form-label">Display <select class="form-select form-select-sm ms-1 me-1"><option value="5">5</option><option value="10">10</option><option value="20">20</option><option value="-1">All</option></select> products</label></div></div><div class="col-sm-12 col-md-6"><div id="products-datatable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="products-datatable"></label></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-centered w-100 dt-responsive nowrap dataTable no-footer dtr-inline collapsed" id="products-datatable" role="grid" aria-describedby="products-datatable_info" style="width: 996px;">
                                    <thead class="table-light">
                                    <tr role="row"><th class="all sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" style="width: 42.6px;" rowspan="1" colspan="1" data-col="0" aria-label="


                                                                &amp;nbsp;

                                                        "><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></th><th class="all sorting" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 272.8px;" aria-label="Product: activate to sort column ascending">Product</th><th class="sorting sorting_desc" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 106.8px;" aria-label="Category: activate to sort column ascending" aria-sort="descending">Category</th><th class="sorting" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 95.8px;" aria-label="Added Date: activate to sort column ascending">Added Date</th><th class="sorting" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 50.8px;" aria-label="Price: activate to sort column ascending">Price</th><th class="sorting" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 70.8px;" aria-label="Quantity: activate to sort column ascending">Quantity</th><th class="sorting" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 53.8px;" aria-label="Status: activate to sort column ascending">Status</th><th style="width: 0px; display: none;" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Action">Action</th></tr>
                                    </thead>
                                    <tbody>

                                    <tr class="odd">
                                        <td class="dt-checkboxes-cell dtr-control" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-2.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Bean Bag Chair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Wooden Chairs
                                        </td>
                                        <td class="" style="">
                                            06/30/2018
                                        </td>
                                        <td style="">
                                            $99
                                        </td>

                                        <td style="">
                                            1,021
                                        </td>
                                        <td style="">
                                            <span class="badge bg-danger">Deactive</span>
                                        </td>
                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="dtr-control dt-checkboxes-cell" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-4.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Biblio Plastic Armchair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star-half"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Wooden Chairs
                                        </td>
                                        <td class="" style="">
                                            09/08/2018
                                        </td>
                                        <td style="">
                                            $8.99
                                        </td>

                                        <td style="">
                                            1,874
                                        </td>
                                        <td style="">
                                            <span class="badge bg-success">Active</span>
                                        </td>
                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="dt-checkboxes-cell dtr-control" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-6.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Unpowered aircraft</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star-half"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Wing Chairs
                                        </td>
                                        <td class="" style="">
                                            03/24/2018
                                        </td>
                                        <td style="">
                                            $49
                                        </td>

                                        <td style="">
                                            204
                                        </td>
                                        <td style="">
                                            <span class="badge bg-danger">Deactive</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr><tr class="even">
                                        <td class="dt-checkboxes-cell dtr-control" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-3.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Bootecos Plastic Armchair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star-half"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Wing Chairs
                                        </td>
                                        <td class="" style="">
                                            07/15/2018
                                        </td>
                                        <td style="">
                                            $148.66
                                        </td>

                                        <td style="">
                                            485
                                        </td>
                                        <td style="">
                                            <span class="badge bg-danger">Deactive</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr><tr class="odd">
                                        <td class="dt-checkboxes-cell dtr-control" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-5.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Farthingale Chair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star-half"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Plastic Armchair
                                        </td>
                                        <td class="" style="">
                                            04/09/2018
                                        </td>
                                        <td style="">
                                            $78.66
                                        </td>

                                        <td style="">
                                            524
                                        </td>
                                        <td style="">
                                            <span class="badge bg-danger">Deactive</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr><tr class="even">
                                        <td class="dtr-control dt-checkboxes-cell" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-5.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Cardan Armchair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Plastic Armchair
                                        </td>
                                        <td class="" style="">
                                            08/02/2018
                                        </td>
                                        <td style="">
                                            $59.69
                                        </td>

                                        <td style="">
                                            26
                                        </td>
                                        <td style="">
                                            <span class="badge bg-success">Active</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr><tr class="odd">
                                        <td class="dt-checkboxes-cell dtr-control" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-3.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">The butterfly chair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star-half"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Dining Chairs
                                        </td>
                                        <td class="" style="">
                                            06/19/2018
                                        </td>
                                        <td style="">
                                            $58
                                        </td>

                                        <td style="">
                                            874
                                        </td>
                                        <td style="">
                                            <span class="badge bg-success">Active</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr><tr class="even">
                                        <td class="dtr-control dt-checkboxes-cell" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-3.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Branded Wooden Chair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star-outline"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Dining Chairs
                                        </td>
                                        <td class="" style="">
                                            09/05/2018
                                        </td>
                                        <td style="">
                                            $68.32
                                        </td>

                                        <td style="">
                                            2,541
                                        </td>
                                        <td style="">
                                            <span class="badge bg-success">Active</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr><tr class="odd">
                                        <td class="dt-checkboxes-cell dtr-control" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-4.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Eames Lounge Chair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star-half"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Baby Chairs
                                        </td>
                                        <td class="" style="">
                                            05/06/2018
                                        </td>
                                        <td style="">
                                            $39.5
                                        </td>

                                        <td style="">
                                            1,254
                                        </td>
                                        <td style="">
                                            <span class="badge bg-success">Active</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr><tr class="even">
                                        <td class="dtr-control dt-checkboxes-cell" tabindex="0"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-4.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Designer Awesome Chair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star-half"></span>
                                                <span class="text-warning mdi mdi-star-outline"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Baby Chairs
                                        </td>
                                        <td class="" style="">
                                            08/23/2018
                                        </td>
                                        <td style="">
                                            $112.00
                                        </td>

                                        <td style="">
                                            3,540
                                        </td>
                                        <td style="">
                                            <span class="badge bg-success">Active</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr><tr class="odd">
                                        <td class="dt-checkboxes-cell dtr-control" tabindex="0" style=""><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-6.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Adirondack Chair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Aeron Chairs
                                        </td>
                                        <td class="" style="">
                                            07/07/2018
                                        </td>
                                        <td style="">
                                            $65.94
                                        </td>

                                        <td style="">
                                            652
                                        </td>
                                        <td style="">
                                            <span class="badge bg-success">Active</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr><tr class="even">
                                        <td class="dtr-control dt-checkboxes-cell" tabindex="0" style=""><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></td>
                                        <td class="">
                                            <img src="assets/images/products/product-1.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">Amazing Modern Chair</a>
                                                <br>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                            </p>
                                        </td>
                                        <td class="sorting_1" style="">
                                            Aeron Chairs
                                        </td>
                                        <td class="" style="">
                                            09/12/2018
                                        </td>
                                        <td style="">
                                            $148.66
                                        </td>

                                        <td style="">
                                            254
                                        </td>
                                        <td style="">
                                            <span class="badge bg-success">Active</span>
                                        </td>

                                        <td class="table-action" style="display: none;">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr></tbody>
                                </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="products-datatable_info" role="status" aria-live="polite">Showing products 1 to 12 of 12</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="products-datatable_paginate"><ul class="pagination pagination-rounded"><li class="paginate_button page-item previous disabled" id="products-datatable_previous"><a href="#" aria-controls="products-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="products-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="products-datatable_next"><a href="#" aria-controls="products-datatable" data-dt-idx="2" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li></ul></div></div></div></div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>



<script src="/js/vendor/jquery.dataTables.min.js"></script>
<script src="/js/vendor/dataTables.bootstrap5.js"></script>
<script src="/js/vendor/dataTables.responsive.min.js"></script>
<script src="/js/vendor/responsive.bootstrap5.min.js"></script>
<script src="/js/vendor/dataTables.checkboxes.min.js"></script>

<%-include("./layout/footer")%>
